/* Welcome to Blog Base Assets Code */
/* Developer Yashwant Kargwal */
:root{
    --headingText-- : Popins-bold;
    --SubHeadingText-- : Popins-medium;
    --normalText-- : Roboto-regular;
    --white-- : #fff;
    --white-cloud-- : #ebebeb;
    --white-divider-- : #cecece;
}

